/*floatingBtn*/

.floating-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 500;
  width: 50px;
  height: 50px;
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.floating-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
}

/*IconBtn*/

.icon-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

.icon-btn svg {
  width: 1.25rem;
  height: 1.25rem;
}

.icon-btn:hover {
  transform: scale(1.1);
}

/* --- Variantes de Color --- */

.icon-btn.primary {
  color: var(--color-primary);
}

.icon-btn.primary:hover {
  background-color: rgba(68, 187, 164, 0.1);
}

.icon-btn.danger {
  color: var(--color-error-text);
}

.icon-btn.danger:hover {
  background-color: rgba(185, 28, 28, 0.1);
}

/*Button*/

.btn {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  transition: transform 0.2s ease-in-out,
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

/* --- Variantes de Color --- */

.btn.primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn.primary:disabled {
  background-color: var(--color-subtle);
  color: var(--color-disabled);
  cursor: auto;
  
  transform: none;
  box-shadow: none;
}

.btn.primary:not(:disabled):hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-secondary);
}

.btn.secondary:disabled {
  background-color: var(--color-subtle);
  color: var(--color-disabled);
  cursor: auto;
  
  transform: none;
  box-shadow: none;
}

.btn.secondary {
  background-color: var(--color-white);
  color: var(--color-text);
  border-color: var(--color-subtle);
}